<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <title><%= title %></title>
    <link rel = "stylesheet" href = "/css/styles.css">
</head>
<body>
    <h1> Welcome to <%= title %>!</h1>
    <h2> J Victorino G. Zulueta </h2>
    <h2> I am from WD - 201 </h2>
    <h3> I am a 2nd year college student currently studying in Holy Angel University and i am taking Bachelor of Science in Information Technology Major in Web Development. &#129488; </h3>
</body>
</html>